# Importing data and cleaning data

In [2]:
import pandas as pd
import numpy as np
import glob

pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199

path = r'./Data-out' 
all_files = glob.glob(path + "/hda_dataset_uniform_random_[0-7].csv")
all_files.sort()

#dataset = pd.read_csv("./Data-out/hda_dataset_uniform_random_0.csv")


df = (pd.read_csv(f) for f in all_files)
concat_df = pd.concat(df).drop_duplicates().reset_index(drop=True)
concat_df = concat_df.sort_values(by=['case', 'ts'])
#concat_df.to_csv('out.csv')

In [ ]:
import pandas as pd
import numpy as np
import glob

pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  

path = r'./../Test/' 
all_files = glob.glob(path + "/test[1-3].csv")
all_files.sort()

df = (pd.read_csv(f) for f in all_files)
concat_df = pd.concat(df).drop_duplicates().reset_index(drop=True)
concat_df.sort_values(by=['case', 'ts'])

In [3]:
concat_df.head()

        case                          event                   ts
813070  1     Order imported                 2018-09-02 00:02:30
813071  1     Order checked                  2018-09-02 00:02:41
813072  1     Address correction             2018-09-02 00:06:21
813073  1     Order creation failed (SYS-2)  2018-09-02 00:07:00
813074  1     Device hand-out                2018-09-03 16:36:00